/* @font-face {
    font-family: 'lalyfont';
    src: url('/fonts/ClassicalDiary.woff');
    font-weight: normal;
    font-style: normal;
  }
 */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom, #fa87d9, #a46ad3, #4938b5);
    position: relative;
    z-index: 0;
  }

  p::selection {
    background-color: #fff;
    color: #a46ad3;
  }

  a {
    color: #fff;
    font-weight: 500; 
  }

  a:visited {
    color: #4938b5; 
}

a:hover {
    color: #fa87d9; 
}

  .noise {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/noise.jpg'); /* Reemplaza 'ruta/a/ruido.png' con la ruta real de tu imagen de ruido */
    opacity: 0.1; /* Opacidad del ruido al 10% */
    pointer-events: none; /* Evita interacciones con el div de ruido */
  }

  .info_webLaly {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
  }

  .hidden-seo {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
/*   h1 {
    font-family: 'lalyfont', Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 5px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #777;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #777;
  } */
  
  .content {
    max-width: 600px;
    width: 100%;
    padding: 0 20px;
  }
  
  .info-section p {
    color: #fa87d9;
    /* color: #a46ad3; */
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .contact-item img {
    width: 30px;
    height: auto;
    margin-right: 10px;
  }
  .imagen-lateral {
  position: absolute;
  right: 0; 
  top: 0;
  height: 100%;
  max-width: 40%; 
  object-fit: cover; 
  z-index: 1; 
  border-radius: 35px;
}

.content {
  position: relative;
  padding-right: 40%; 
}